@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #000;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.custom-h3 {
  position: relative;
}
.custom-h3::before {
  position: absolute;
  content: "“";
  color: #ff734f;
  font-size: 146px;
  left: -40px;
}

.custom-h3::after {
  position: absolute;
  content: "”";
  color: #ff734f;
  font-size: 146px;
  display: inline-block;
  transform: rotate(180deg) scaleX(-1);
}

@media (max-width: 640px) {
  .custom-h3::before {
    display: none;
  }
  .custom-h3::after {
    display: none;
  }
}

.left-bubble {
  border-bottom-left-radius: 0px;
}

.right-bubble {
  border-bottom-right-radius: 0px;
}
